.Cabecalho{
  background-color: rgb(50, 166, 219);
  text-align: center;
  color:#fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height:150px;
  padding:30px 70px 30px 70px;
  
}

.Cabecalho h1 img{
  height: 100px;
}

.campProduto{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.div-prod{
  padding:20px;
}

.Produto{
  flex: 1;
  border-radius: 10px;
  box-shadow: 1px 1px black;
  background-color: rgb(230, 228, 228);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-width: 300px;
  text-align: center;
}

.Produto h3{
  background-color: rgb(1, 40, 58);
  font-size: 20pt;
  color:#fff;
}

.Produto #imagem-produto{
  max-height: 225pt;
  height: 225pt;
  max-width: 225pt;
  width: 225pt;
}

.campCarrinho{
  background-color: rgb(206, 206, 206);
}

.campCarrinho h3{
  background-color: rgb(1, 40, 58);
  color:rgb(230, 228, 228);
  text-align: center;
}

.miniCarrinho{
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.Carrinho-section{
  width: 800px;
  background-color: rgb(230, 228, 228);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.campoProduto h3{

  text-align:right;
  margin-right: 50px;
}

.campLogin{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.campFormulario{
  display: flex;
  justify-content: center;
  align-items: center;
}

.CampFormProduto{
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  padding: 10px;
}

.CampFormProduto #Nome, #Preco, #Quantidade{
  padding: 20px;
}

.linkAlterar{
  color:#fff;
  text-decoration: none;
}




.Rodape{
  border-top: 1px solid black;
  text-align: center;
  padding: 35px 0 10px 0;
  background-color:#060606;
}